*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-image: url(Downloads/7-eleven_logo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}